body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.player {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.player img {
  width: 100%;
}

.controles {
  margin-top: 10px;
}

.controles button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.controles button:hover {
  background-color: #ccc;
}

.informacoes {
  margin-top: 20px;
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
}

.informacoes h2 {
  margin: 0;
}

.informacoes p {
  margin-bottom: 10px;
}
